@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@page {
  size: A4;
  margin: 10mm;
}

@media print {
  body {
    font-family: "Arial", sans-serif;
    font-size: 10pt;
  }
}
