@import "tailwindcss";

body {
  @apply bg-neutral-200 dark:bg-neutral-800;
}

@page {
  size: A4;
  margin: 16mm 16mm 16mm 16mm;
}

@media print {
  body {
    font-family: "Arial", sans-serif;
    font-size: 12pt;
  }

  h1,
  h2,
  h3 {
    font-family: "Georgia", serif;
  }
}
